.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}
.hero-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    max-width: 950px;
    width: 100%;
}
.job-title{
    font-family: "Press Start 2P", system-ui;
    font-size: 1.3em;
}
.description{
    padding: 1em 0;
    font-family: "Roboto", sans-serif;
    font-size: .9em;
}
.social-links{
    display: flex;
    font-family: "Roboto", sans-serif;
    gap: 20px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: .2em 1em;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.links a{
    text-decoration: none;
    color: #000000;
}
.icons{
    width: 24px;
}
.image-section{
    display: flex;
    justify-content: right;
}
.profile-image{
    max-width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Responsive Design */
@media (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
        padding: .5em;
        margin: 1em;
    }
    .job-title {
        font-size: 1.1em;
    }
    .description {
        font-size: .85em;
    }
    .image-section{
        justify-content: center;
    }
    .profile-image{
        max-width: 360px;
    }
    .links{
        background: #B0B0B0;
    }
    .social-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4px;
        border-radius: 3px;
        justify-content: center;
    }
}
@media (max-width: 480px) {
    .hero-section {
        margin-top: 2em;
    }
    .job-title {
        font-size: 1em;
    }
    .description {
        font-size: .8em;
    }
    .links {
        padding: .2em .5em;
    }
    .icons {
        width: 20px;
    }
}