.techstack-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.techstack-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 950px;
  width: 100%;
  padding: 1em;
  overflow: hidden;
  border-radius: 8px;
  background: rgba(10, 133, 10, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.tech-logo{
  width: 80px;
  animation: scroll 10s ease-in-out infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .techstack-section {
    padding: .5em;
  }
  .tech-logo {
    width: 60px;
    animation: scroll 15s ease-in-out infinite;
  }
}

@media (max-width: 480px) {
  .tech-logo {
    width: 40px;
    animation: scroll 20s ease-in-out infinite;
  }
}